<div id="seleccion-criaturas">
    <div class="container">
        <h2>Seleccion de criaturas</h2>
        <div class="criaturas">
            <div class="cartas">
                <h3>Criatura 1</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit sapiente, repellendus ullam assumenda ex illo animi et numquam, aperiam, reprehenderit sint aspernatur veritatis ducimus reiciendis accusamus. Veritatis labore omnis quaerat.</p>
                <button>+Info</button>
            </div>
            <div class="cartas">
                <h3>Criatura 2</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit sapiente, repellendus ullam assumenda ex illo animi et numquam, aperiam, reprehenderit sint aspernatur veritatis ducimus reiciendis accusamus. Veritatis labore omnis quaerat.</p>
                <button>+Info</button>
            </div>
            <div class="cartas">
                <h3>Criatura 3</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit sapiente, repellendus ullam assumenda ex illo animi et numquam, aperiam, reprehenderit sint aspernatur veritatis ducimus reiciendis accusamus. Veritatis labore omnis quaerat.</p>
                <button>+Info</button>
            </div>
        </div>
    </div>
</div>
