<header class="header">
    <div class="container logo-nav-container">
        <a class="logo">Eko-Moochi</a>
        <nav class="navBar">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Wiki</a></li>
                <li><a href="#">Foro</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Juegos</a></li>
                <li><a href="/usuario">Iniciar Sesion</a></li>
                <li><a href="/registro" >Registrarse</a></li>
            </ul>
        </nav>
    </div>
</header>





