<div class="container">

</div>
<div class="hero-imagen">
    <div class="hero-texto">
        <h1>Bienvenido a la Experiencia <br> Eko-Moochi</h1>
        <button>Registrarse</button>
    </div>
</div>

<section id="presentacion">
    <div class="container">
        <div class="img-container"></div>
        <div class="texto">
            <h2>Sobre <span class="color-acento">Eko-Moochi</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing
             elit. Commodi itaque harum blanditiis. Dolores id magnam, dolor 
             illum similique laborum, placeat asperiores et maxime neque 
             blanditiis distinctio eius illo corrupti repellendus.</p>
        </div>
    </div>
</section>